#BUS_SORT

#S
wb_.*
wbs_.*
la_.*
irq.*
io_oeb.*


#W
io_out.*
CMP
CLR


#E
analog_io[0]
analog_io[1]
io_in.*


#N
Pd12_b 
Pd12_a
Pd11_b 
Pd11_a
Pd10_b 
Pd10_a
Pd9_b
Pd9_a
Pd8_b 
Pd8_a
Pd7_b
Pd7_a
Pd6_b
Pd6_a
Pd5_b
Pd5_a
Pd4_b
Pd4_a
Pd3_b
Pd3_a
Pd2_b
Pd2_a
Pd1_b
Pd1_a
Vref_sel_c
OTA_out_c
SH_out_c
Vref_cmp_c
OTA_sh_c
CMP_out_c
Vd1
Vd2
Sw2
Sw1
Sh_rst
Sh_cmp
Sh










